.gradle
build/
repo/

# Ignore Gradle GUI config
gradle-app.setting

# Ingnore .idea
.idea
poeditor-gradle.iml

gradle.properties

# Example folder
example-project/App/
example-project/src/
example-project/gradle.properties
